* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*starting of the navbar */
.navbar {
  background-color: #fafafa;
  padding: 2rem 0;
}

.navbar__container {
  max-width: 92vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #252b42;
  padding-left: 7rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__items {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar__item {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #737373;
  cursor: pointer;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-right: 7rem;
}

.navbar__bars {
  cursor: pointer;
}

/* starting of the showcase */

.showcase {
  background-color: #fafafa;
  padding: 6rem 0;
  text-align: center;
}

.showcase__title {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 80px;
  color: #252b42;
}
.showcase__description {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #737373;
}

.showcase__button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 2.2rem;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.7rem;
  cursor: pointer;
}
.btn--primary {
  background-color: #ffa62b;
  color: white;
}

.btn--border {
  border: 1px solid #00a0c1;
  color: #00a0c1;
}
