* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*starting of the navbar */
.navbar {
  background-color: #fafafa;
  padding: 2rem 0;
}

.navbar__container {
  max-width: 92vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #252b42;
  padding-left: 7rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__items {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar__item {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #737373;
  cursor: pointer;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-right: 7rem;
}

.navbar__bars {
  cursor: pointer;
}

/* starting of the showcase */

.showcase {
  background-color: #fafafa;
  padding: 6rem 0;
  text-align: center;
}

.showcase__title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.6rem;
  color: #252b42;
}
.showcase__description {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  color: #737373;
}

.showcase__button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 2.2rem;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.7rem;
  cursor: pointer;
}
.btn--primary {
  background-color: #ffa62b;
  color: white;
}

.btn--border {
  border: 1px solid #00a0c1;
  color: #00a0c1;
}

.btn--appointment {
  border-radius: 0.3rem;
  padding: 1rem 3rem;
}
.btn--contact {
  border-radius: 0.3rem;
  padding: 0.8rem 2.5rem;
}

/*starting of the choose us */

.choose {
  max-width: 75vw;
  margin: 8rem auto;
}

.choose__title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.5rem;
  color: #252b42;
  text-align: center;
}

.choose__description {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #737373;
  text-align: center;
}

.choose__card {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 35px 40px;
  border: 1px solid #e8e8e8;
}

.card--small {
  padding: 1.5rem 2rem;
}

.card--bg-white {
  background-color: #fff;
}

.card--border {
  border-radius: 0.3rem;
}
.card--noBorder {
  padding: 0;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__title {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card__title--primary {
  color: #ffa62b;
}
.card__content {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #737373;
}

.card__content--center {
  text-align: center;
}
.card__profile {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card__profile img {
  max-width: 40px;
  height: 40px;
}
.card__role {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #252b42;
}

.card__role--second {
  padding: 0.5rem 0;
  color: #737373;
}

.card__star {
  width: 90px;
}

.card__star img {
  width: 100%;
}

.card__media {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.card__media img {
  width: 18px;
}

/* starting of services */

.services {
  background-color: #fafafa;
  padding: 3rem 0;
}

.services__container {
  max-width: 75vw;
  margin: 3rem auto;
  position: relative;
}

.services__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.services__description {
  margin: 1rem 0;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.services__video {
  max-width: 70vw;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  position: relative;
  background-color: #252b42;
}

.services__video img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 43%;
  max-width: 80px;
}

.services__darkGreen {
  height: 370px;
  background-color: #05353c;
  margin-top: -22rem;
}

/* starting of clients */

.client {
  background-color: #fafafa;
  padding: 1rem 0;
}

.client__container {
  max-width: 75vw;
  margin: 0 auto;
}

.client__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.client__description {
  margin: 1rem 0;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.client__card {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* starting of team */

.team {
  max-width: 80vw;
  margin: 5rem auto;
}

.team__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.team__description {
  margin: 1rem 0;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.team__card {
  display: flex;
  gap: 2rem;
}

/* starting of the appointment */

.appointment {
  background-image: url('assets/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.appointment__container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 5rem 0;
}
.appointment__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1px;
  color: #252b42;
}

.appointment__heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.2px;
  color: #252b42;
}

.appointment__form {
  margin: 2rem 0;
  max-width: 500px;
}
.appointment__group {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.appointment__input {
  width: 100%;
  height: 40px;
  border-radius: 0.3rem;
  background: #f9f9f9;
  border: 1px solid #bdbdbd;
  outline: none;
  padding: 0 0.5rem;
  color: #adabab;
  font-weight: 500;
}

.appointment__textarea {
  width: 100%;
  height: 150px;
  border-radius: 0.3rem;
  background: #f9f9f9;
  border: 1px solid #bdbdbd;
  outline: none;
  resize: none;
  font-weight: 500;
  padding: 1rem 0.5rem;
  color: #adabab;
}

/* starting of the call of action  */
.cta {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__title {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  color: #252b42;
}
.cta__description {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #737373;
}

/* starting of the footer */
.footer {
  background-color: #252b42;
}
.footer__container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer__upper {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #364067;
}

.footer__logo {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  cursor: pointer;
}

.footer__media {
  display: flex;
  gap: 0.5rem;
  padding-right: 1rem;
}

.footer__social {
  max-width: 20px;
}

.footer__down {
  padding: 3rem 0;
  display: flex;
  gap: 4rem;
}

.footer_title {
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.footer__links {
  list-style: none;
}

.footer__link {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #bdbdbd;
}

.footer__form {
  display: flex;
  background-color: #fff;
  border-radius: 0.3rem;
  overflow: hidden;
}
.footer__input {
  width: 180px;
  outline: none;
  border: none;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #bdbdbd;
}

.footer__span {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: #bdbdbd;
}

/* starting of copyright */

.copyright {
  background-color: #16697a;
  padding: 1.2rem 0;
}

.copyright__container {
  max-width: 80vw;
  margin: 0 auto;
}

.copyright__title {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #ffffff;
}
