* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*starting of the navbar */
.navbar {
  background-color: #fafafa;
  padding: 2rem 0;
}

.navbar__container {
  max-width: 92vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #252b42;
  padding-left: 7rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__items {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar__item {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #737373;
  cursor: pointer;
}

.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-right: 7rem;
}

.navbar__bars {
  cursor: pointer;
}

/* starting of the showcase */

.showcase {
  background-color: #fafafa;
  padding: 6rem 0;
  text-align: center;
}

.showcase__title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.6rem;
  color: #252b42;
}
.showcase__description {
  margin: 2rem 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  color: #737373;
}

.showcase__button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 2.2rem;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.7rem;
  cursor: pointer;
}
.btn--primary {
  background-color: #ffa62b;
  color: white;
}

.btn--border {
  border: 1px solid #00a0c1;
  color: #00a0c1;
}

/*starting of the choose us */

.choose {
  max-width: 75vw;
  margin: 8rem auto;
}

.choose__title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.5rem;
  color: #252b42;
  text-align: center;
}

.choose__description {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #737373;
  text-align: center;
}

.choose__card {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 35px 40px;
  border: 1px solid #e8e8e8;
}

.card--small {
  padding: 1.5rem 2rem;
}

.card--bg-primary {
  background-color: #fff;
}

.card--border {
  border-radius: 0.3rem;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__title {
  font-weight: 700;
  font-size: 0.8rem;
  /* line-height: 1.5rem; */
  letter-spacing: 0.1px;
  color: #252b42;
}

.card__title--primary {
  color: #ffa62b;
}
.card__content {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.2px;
  color: #737373;
}

.card__profile {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card__profile img {
  max-width: 40px;
  height: 40px;
}
.card__role {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #252b42;
}

.card__star {
  width: 90px;
}

.card__star img {
  width: 100%;
}
/* starting of services */

.services {
  background-color: #fafafa;
  padding: 5rem 0;
}

.services__container {
  max-width: 75vw;
  margin: 3rem auto;
  position: relative;
}

.services__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.services__description {
  margin: 1rem 0;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.services__video {
  max-width: 70vw;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  position: relative;
  background-color: #252b42;
}

.services__video img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 43%;
  max-width: 80px;
}

.services__darkGreen {
  height: 370px;
  background-color: #05353c;
  margin-top: -22rem;
}

/* starting of clients */

.client {
  background-color: #fafafa;
  padding: 1rem 0;
}

.client__container {
  max-width: 75vw;
  margin: 0 auto;
}

.client__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.client__description {
  margin: 1rem 0;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.client__card {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
